*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#9794A6;
  font-family: sans-serif;
}
a,button{
  cursor: pointer;
}
header{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.1)) ,url('backg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  width: 100%;
  height: 15vh;
  background: rgba(0,0,0,0.2);
  color: white; display: flex; justify-content: space-between;
  align-items:center;
  text-transform: uppercase;
}

nav .logo{
  width: 25%; text-align: center;
}

nav .logo h2{
  margin:  8px 150px;
  background: rgb(0,0,0,0.6);
  border-radius: 20px;
}

nav .menu{
  width: 40%;
  display: flex; justify-content: space-around;
}

nav .menu a{
  width: 25%;
  font-size: 18px;
  text-decoration: none; color: white;
  font-weight: bold;
}

nav .menu a:first-child{
  text-shadow: 1px 1px 2px black;
  color: orange;
}

nav .menu a:hover{
  color: orange;
}
main{
  width: 100%;
  height: 85vh;
  display: flex;justify-content: center;align-items: center;
  text-align: center;
}

section{
  color: white;
}
section h3{
  font-size: 28px;font-weight: 200; letter-spacing: 3px;
  text-shadow: 1px 1px 2px black;
}
section h1{
  margin: 30px 0 20px 0;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 2px 1px 5px black;
  text-transform: uppercase;
}
section p{
  font-size: 22px;
  color: #eee;
  word-spacing: 2px;
  margin-bottom: 25px;
  text-shadow: 1px 1px 1px black;
}

section a{
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease;
}
section .one{
  background: #fff;
  color: #000;
}
section .two{
  background: orange;
  color: #fff;
}
.one:hover{
  background: orange;
  color: #fff;
}
.two:hover{
  background: #fff;
  color: #000;
}


/*-----------------------------RECOMMENDED items---------------------------------*/
 
.reco_table table{
  padding: 20px;
}

.reco_table td{
  cursor: pointer;
  border: 10px solid #ffff;
  text-align: center;
  width: 170px;
  height: 220px;
  background: red;
}
.reco_table td:hover{
  border-color: red;

}
/*-----------------------------------Log in----------------------------------*/
#login_id{
  height: 90vh;
  padding: 5%;
  padding-top: 10%;

}
#sign_in{
  width:100%;
	padding:50px;
	background-color:black;
  box-shadow: 15px 15px 10px 7px rgba(54,43,54,1);
}
#sign_in h3{
  padding-top:10px;
	color:tomato;
	font-size:25px;
  margin-bottom: 25px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.sign_class{
	width:30%;
	padding:1%;
	border:0px solid black;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

#but_signin{
  background-color: tomato;
}


/*--------------------------------About---------------------------*/
#about{
	color:#020373;
	font-size:20px;
	background-color:#8068A2;
  width: 100%;
  height: 65vh;
  padding-top: 10%;
  display: block;justify-content: center;align-items: center;
  text-align: center;
}
#about p,h2{
  margin-bottom: 25px;
}


/*--------------------------------Contact--------------------------------------*/
#Contact{
	padding-top:30px;
	padding-bottom:40px;
	text-align:center;
	color:white;
  width: 100%;
  height: 65vh;
	background-color:#320A40 ;
}
#Contact p,h2,pre{
  margin-bottom: 25px;
}
pre{
	font-size:20px;
	text-transform:uppercase;
	font-family:'Roboto Mono', monospace;
	font-weight:500;
	overflow-y:hidden;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/*------------------------------Hidden world-----------------------------------------------*/

.container input[type='text'],.container input[type='password']{
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.cancelbtn {
  background-color: tomato;
}
.signupbtn {
  background-color: #99041e;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.cancelbtn:hover, .signupbtn:hover{
  opacity: 0.6;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

.modal .error-msg{
  color: red;
  font-size: 14px;
  margin-top: -15px;
}